<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="https://github.com/KarlyKizewski/splurty">Karly</a>. A student of The George Washington University Coding Boot Camp. 
  </p>
  <br />
  <p>
    Karly is learning full-stack web development. This is her first official web application. Please help contribute to the database of comforting haiku. Let us enjoy these syllabic structures as guides for concise thought and illumination of life. 
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com">with these wonderful people</a>.
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'me.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Karly Kizewski</h2>
      <br />
      <p>
        Karly Kizewski is a gaining the expertise to pursue opportunities. She is learning how to create interactive structures with language in the online realm. Having enjoyed physical forms and contructing art in reality, she finds endless possibilities also exist in the web. Looking forward to what will come of this.  
      </p>
    </div>
  </div>
</div>

<br class="clear" />
<br />
<br />
<br />
<br />