<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="https://github.com/KarlyKizewski/splurty">Karly</a>. A student of The George Washington University Coding Boot Camp. 
  </p>
  <br />
  <p>
    Karly is learning full-stack web development. This is her first official web application. Please help contribute to the database of comforting haiku. Let us enjoy these syllabic structures as guides for concise thought and illumination of life. 
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com">with these wonderful people</a>.
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'me.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Karly Kizewski</h2>
      <br />
      <p>
        Karly Kizewski is learning how to create interactive structures with language in the digital realm. Having enjoyed producing art in physical form, she now finds endless possibilities also exist in zeros and ones and looking forward to what will come of this.  
      </p>
    </div>
  </div>
</div>

<br class="clear" />
<br />
<br />
<br />
<br />